.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 25px;
}

.header__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  width: 40%;
  min-width: 250px;
}
.header__icons {
  display: flex;
  align-items: center;
}

.header__inputButton {
  width: 65px !important;
  border-left: 1px solid lightgray;
  background-color: #fafafa;
}

.header__icon {
  margin-left: 8px;
}
