img {
  max-width: 100%;
}
.channel__icon {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.videos {
  display: flex;
  flex-wrap: wrap;
}

.channel__card {
  border: 1px solid red;
  width: 340px;
  margin-bottom: 1.3rem;
  margin-right: 0.5rem;
}
.channel__title {
  font-size: 1.1rem;
}
.channel__all__info {
  display: flex;
  height: 8.5rem;
}
.channel__info {
  margin-left: 0.56rem;
}

.channel__title {
  margin-bottom: -20px;
  font-size: 14px;
}
.channel__name {
  position: relative;
  /* margin-bottom: 0px; */
  bottom: 2.5em;
}

.channel__tag {
  position: relative;
  bottom: 2.5rem;
  right: 5px;
  background-color: lightgray;
  text-align: center;
  font-size: 0.9rem;
  /* display: flex; */
  padding: 0.1rem 0.6rem;
  border-radius: 12px;
}

.channel__info > h4,
h5 {
  font-size: 12px;
  position: relative;
  bottom: 0.5em;
  color: #53535f;
}

.custom {
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 10px 0 20px;
  border-bottom: 1px solid rgba(191, 191, 191, 1);
}
.custom > span {
  background: #f9f9f9;
  padding: 0 10px;
}

.showMore__button {
  position: relative;
  top: 8px;

  color: #00b5ad;
}
.down__icon {
  position: relative !important;
  top: 5px !important;
}
.showMore {
  color: #00b5ad;
}
.showMore:hover {
  color: black;
}

.loading {
  position: absolute;
  height: 100%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  background-color: #e6e6ea;

  width: 700px;
  z-index: 1;
}
