.dropdown__auth {
  position: absolute;
  text-align: center;
  right: 22px;
  width: 15%;
  width: 160px;
  margin-top: 35px;
}

.dropdown__auth ul {
  margin-bottom: 0;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.dropdown__auth li {
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: left;
  padding: 5px;
}
.auth__logged__in {
  width: 25px;
  border-radius: 25px;
}

.dropdown__auth > ul > li > a {
  color: white;
}

#log__in__auth2 > li > a {
  color: black;
}
